@import './base/variables';
@import './base/listas';
@import './base/maps';
@import './base/mixin';
@import './base/extend';

@import './componentes/header';
@import './componentes/section';
@import './componentes/main';
@import './componentes/footer';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Carlito', sans-serif;
    list-style-type: none;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
img, iframe {
    max-width: 100%;
    height: auto;
  }