footer{
    background-color: nth($clrs-blue, 1 );
    padding: 50px;
}
footer ul li {
    padding: 10px 0px;
    a{
    color: nth($byn, 1 );
    &:hover{
        color: nth($clrs-blue , 1 );
        background-color: nth($clrs-blue , 4 );
        padding: 10px;
        border-radius: 10px;
        }
    }
}
footer  h4,
footer ul li{
    color: nth($byn , 1 );
 }
footer iframe{
    @include ancho-alto(350px,350px);
    margin-top: 50px;
}
@media (max-width:400px) {
    footer iframe{
        @include ancho-alto(250px,250px)
    }
}
.redes-contacto h4{
    padding-left: 25px;
    font-weight: 700;
}