.img-icono {
    width: $size-icono;
}
.bg-nv-index{
    background-color: nth($clrs-blue, 1 );
}
.enlaces-nv-index a{
    color: nth($byn, 1 );
    &:hover{
        color:nth($byn, 1 ) ;
        border-bottom: 1px nth($byn, 1 ) solid;
    }
}

#header-index{
    padding: 0px;
}